conda.useMicromamba = true
conda.enabled = true

process {
  conda = '/home/jpecerska/micromamba/envs/polyketide_analysis/'
  executor = 'slurm'
  qos = 'normal'
  partition = 'default-standard'
  time = '24:00:00'
  memory = '32.GB'
  account = 'jpecerska'
}

params {
    input = 'data/*.fasta'
    outdir = 'results'
}
